<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Iconified.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AB24FF51E7F8B77007CFD1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB2500C1E7F8B77007CFD1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB250171E7F8B77007CFD1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
